body, html {
  background-image: url("images/sign.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.question {
  border: 2px solid black;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.answer {
  border: 2px solid black;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.form {
  border: 2px solid black;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.display {
  border: 2px solid black;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.navbar {
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.5);
}
